@page "/FlashCards/{id:guid}"

@using LearnApps.Shared

@inject HttpClient Http
@inject LearnApps.Client.Services.IFlashCardService FlashCardService


@if (flashCard == null)
{
    <p>Loading</p>
}
else
{
<div class="container-fluid text-sm-center p-5 bg-light">
    <div class="image">
        <img src="@($"{flashCard.Image}")" alt="@flashCard.Title" loading="lazy" height="350"/>
    </div>
    <h1 class="display-2">@flashCard.Title</h1>
    <p class="lead">@flashCard.Description</p>
</div>

}



@code {

    [Parameter]
    public Guid id { get; set; }

    private FlashCard flashCard { get; set; }

    protected override async Task OnInitializedAsync()
    {
        flashCard = await FlashCardService.Get(id);
    }

}
